$desktop-min-width: 1024px;

$font-size-base: 16px;
$font-size-large: 20px;
$font-size-xlarge: 24px;

$font-weight-normal: 500;
$font-weight-bold: 700;

$space-small: 8px;
$space-small-base: 12px;
$space-base: 16px;
$space-medium: 24px;
$space-large: 32px;
